body{
    background-color: #e2f7ff;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: thin;
    scroll-behavior: smooth;
}

/* navigation bar */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 12px;
    z-index: 1000;
}

.nav-links{
    display: flex;
    gap: 5px;
    font-weight: 400;
}

.nav-bar a {
    float: right;
    color: #217392;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
}

.nav-bar a:hover{
    color: #074159;
    text-decoration: none;
}

.nav-bar a.active{
    color: #074159;
    text-decoration: none;
}

#name{
    float: left;
    padding-left: 30px;
    color: #074159;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* home */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
    padding-left: 10vw;
}

h1{
    font-family: "Alata", sans-serif;
    font-weight: 800;
    font-style: normal; 
    font-size: 62px;
    color: #217392;
    margin-bottom: 10px;
}

h4{
    color: #5e7179;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
}

/* about */
.slider {
    width: 60vw;
    max-width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 40px 0 40px 0;
    border-radius: 300px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    background: #fff;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.7s;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.about-desc {
    text-align: right;
    max-width: 700px;
}

#about{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 10vw;
    padding-right: 5vw;
}

.hello{
    margin-bottom: 10px;
    color: #074159;
    font-weight: 600;
    font-style: italic;
}

.who{
    margin-top: 0;
    color: #5e7179;
    font-size: 18px;
}

/* experience */

#experience {
    padding: 100px 20px;
    max-width: 800px;
    margin: auto;
}

#exp-title {
    text-align: center;
    margin-bottom: 50px;
}

.timeline {
    position: relative;
    min-width: 4px;
    width: 4px;
    height: 300px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: #217392;
    z-index: 0; 
} */


.timeline-item {
    position: relative;
    margin-bottom: 50px;
    transform: translateY(40px);
    transition: all 0.6s cubic-bezier(.215,.61,.355,1);
    left: 150px;
    width: 350px;
}

.timeline-item.show {
    transform: translateY(0);
    display: block;
}

/* .timeline-dot {
    position: absolute;
    left: auto;
    right: -41px;    
    top: 10px;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 4px solid #217392;
    border-radius: 50%;
    z-index: 1;
} */

.timeline-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

.timeline-date {
    font-size: 14px;
    color: #217392;
    font-weight: bold;
}

.timeline-role {
    margin: 8px 0 0 0;
    font-size: 20px;
    color: #074159;
}

.timeline-company {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #5e7179;
}

.timeline-desc {
    margin: 0;
    color: #333;
    font-size: 15px;
}

.experience-container {
    display: flex;
    align-items: stretch; 
    gap: 40px;
}

.company-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
}

.company-tab{
    background: none;
    border: none;
    padding: 12px 16px;
    text-align: left;
    font-size: 16px;
    color: #217392;
    cursor: pointer;
    border-right: 3px solid transparent;
    border-left: none;
    transition: transform 0.3s cubic-bezier(.4,0,.2,1);
}

.company-tab.active {
    background: #e2f7ff;
    border-right: 3px solid #217392;
    color: #074159;
    font-weight: bold;
}